/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 29, 2017, 11:38:36 AM
    Author     : ilmf2
*/
@media screen and (min-width:769px) {
    .feature-article-container .feature-article-item:nth-child(5n+1) {
        clear: left;
    }
    .post-entry {
        width: 70%;
    }
    .sidebar  {
        width: 30%;
    }
}

@media screen and (width:768px) {
    .feature-article-container .feature-article-item:nth-of-type(1),
    .feature-article-container .feature-article-item:nth-of-type(2) {
        width: 50%;
    }
    .feature-article-container .feature-article-item:nth-child(3n) {
        clear: left;
    }

    #main-search {
        flex: auto;
        margin: 15px;
    }
    #myNavbar .dropdown-menu {
        top: 50px;
    }

}
@media screen and (min-width:768px) {
    #myNavbar li,
    #myNavbar .dropup,
    #myNavbar .dropdown {
        position: static;
    }
}
@media screen and (max-width:768px) {
    .content-full {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #main-search {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width:766px) {
    .feature-article-container .feature-article-item {
        width: 50%;
        float: left;
    }
    .feature-article-container .feature-article-item:first-child {
        width: 100%;
    }
    #footer-site {
        text-align: center;
    }
    .navbar-brand {
        margin-left: 30px;
    }
    body {
        /*padding-top: 80px;*/
    }

    .site-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 90;
    }
    #myNavbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        z-index: 99;
        background: #111;
        display: block!important;
    }
    .darkness {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;padding: 0;
        z-index: 9;
        display: block;
    }
    .darkness .close {
        position: fixed;
        top: 0px;
        right: 10px;
        padding: 10px 15px;
        display: inline-block;
        background: #fff;
        transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        z-index:10;
        filter: alpha(opacity=100);
        opacity: 1;
    }

    #myNavbar, .darkness, .darkness .close {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);

        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
        box-shadow: 0  2px 4px rgba(0, 0, 0, .175);

        transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
    }
    #myNavbar li {
        position: relative;
    }
    #myNavbar a.frist-menu {
        color: #fff!important
    }
    #myNavbar h3 {
        color: rgba(255,255,255,0.8);
        margin: 10px auto 5px;
    }
    .navbar-nav .open .dropdown-menu {
        padding-top: 0;
    }
    .mega-dropdown-menu {
        border-left: 2px solid rgba(255,255,255,0.7)!important;
        padding: 0px;
        margin: 0 0 0 15px;
    }

}
